.options {
  display: flex;
}

.option:not(:last-of-type) {
  margin-right: 120px;
}

.option__title {
  color: #000000;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
}

.circle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.plus {
  width: 31px;
  height: 31px;
}

.table {
  &__item {
    width: 330px;
    height: 172px;
    box-shadow: 0 5px 15px 1px rgba(126, 126, 126, 0.22);
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    padding-top: 14px;
    padding-left: 13px;
  }
  &__title {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 20px;
  }
}

.badge {
  width: 67px;
  height: 26px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-red,
  &-blue,
  &-green {
    font-size: 16px;
    font-weight: 500;
  }
  &-red {
    background-color: rgba(255, 0, 0, 0.17);
    color: #f02929;
  }
  &-blue {
    background-color: rgba(60, 41, 240, 0.17);
    color: #3c29f0;
  }
  &-green {
    background-color: rgba(24, 208, 132, 0.17);
    color: #18d084;
  }
}

.period {
  width: 207px;
  display: flex;
  justify-content: space-between;
}

.performer {
  margin-top: 17px;
  display: flex;
  &__icon {
    width: 22px;
    height: 22px;
    background-color: #aeaeae;
    border-radius: 50%;
    margin-right: 9px;
    margin-left: 14px;
  }
}
