.header {
  display: flex;
  align-items: center;
  margin-bottom: 81px;
  &__title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    margin-right: 58px;
  }
}

.show {
  &-table {
    width: 36px;
    height: 36px;
    & #grid {
      stroke: rgba(0, 0, 0, .3);
    }
  }
  &-list {
    width: 42px;
    height: 27px;
    & #list-color {
      stroke: rgba(0, 0, 0, .3);
    }
  }
}

.is-active .show{
  &-table {
    & #grid {
      stroke: rgba(0, 0, 0, 1);
    }
  }
  &-list {
    & #list-color {
      stroke: rgba(0, 0, 0, 1);
    }
  }
}
